@charset "utf-8";

/* font */
@import url(https://fonts.googleapis.com/earlyaccess/hanna.css);
/*font face로 수정*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


/*reset*/
/*font-family: 'Noto Sans KR', sans-serif;*/
* {
	font-family: 'Hanna', fantasy;
}





.cover {
	display: none;
}

.blind {
	position: absolute;
	left: -9999px;
	height: 1px;
	color: transparent;
}

@media screen and (max-width:1300px) {
	body {
		position: relative;
	}

	.cover {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		opacity: .7;
		background: #000;
		z-index: 1000;
	}

	.cover h3 {
		width: 100%;
		text-align: center;
		padding: 0 10px;
		color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 3rem;
		font-weight: normal;
		transform: translate(-50%, -50%);
	}

	#fullpage {
		display: none;
	}
}